.header {
  width: 100%;
  padding-top: 48px;
}

.header__block {
  display: flex;
  flex-direction: row;
  gap: 300px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: 'Quella', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.header__title a {
  text-decoration: none;
  color: #000;
}

.header__list {
  display: flex;
  gap: 48px;
}

.header__list a,
li {
  text-decoration: none;
  color: #000;
  list-style: none;
}

.header__icons {
  display: flex;
  gap: 30px;
}

.header__list li:nth-last-child(-n + 2) a {
  color: #1e1e1e80;
}

.header__border {
  width: 0;
  height: 24px;
  border-left: 1px solid #000;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .header__block {
    gap: 40px;
  }
}

@media (max-width: 992px) {
  .header__block {
    gap: 30px;
  }
  .header__title {
    font-size: 20px;
  }
  .header__list {
    gap: 30px;
  }
  .header__icons {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .header__block {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header__title {
    font-size: 18px;
  }
  .header__list {
    gap: 20px;
  }
  .header__icons {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .header__title {
    font-size: 14px;
  }
  .header__list {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
  }
  .header__icons {
    gap: 30px;
  }
}
