.main {
  padding-top: 48px;
}

.main__background {
  position: relative;
  width: 100%;
  min-height: 512px;
  background-color: #c1dcdc;
  border-radius: 24px;
  overflow: hidden;
}

.arrow__icon {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 112px;
  height: 150px;
}

.circle__icon {
  position: absolute;
  bottom: 0;
  right: 70px;
  z-index: 0;
  width: 450px;
  height: 400px;
}

.flower__icon {
  z-index: 9;
  position: absolute;
  top: 18px;
  right: 30px;
}

.main__block {
  padding: 48px 0 0 48px;
}

.main__title {
  font-weight: 800;
  font-size: 64px;
  max-width: 512px;
}

.main__number {
  font-size: 32px;
  font-weight: 500;
  margin-top: 24px;
}

.main__label {
  font-size: 18px;
  font-weight: 500;
}

.main__border {
  width: 1px;
  height: 64px;
  background-color: #000;
  margin: 0 20px;
  margin-top: 24px;
}

.main__stats {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}

.lens__icon {
  width: 20px;
  height: 20px;
}

.main__form {
  position: relative;
  width: 449px;
  margin-top: 40px;
}

.main__form input:focus {
  outline: 2px solid #8fbaba;
}

.main__form input {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  border: none;
  padding: 0 60px 0 18px;
}

.main__form button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #c1dcdc;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
}

.vector {
  display: flex;
  justify-content: center;
  position: relative;
}

.vector__icon {
  position: absolute;
  bottom: 3px;
}
